<div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="alert alert-danger col-lg-8" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Usuário inexistente!
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <button class="btn btn-primary" type="submit" ng-click="retornaPagina()">Voltar</button>
        </div>
    </div>
</div>
